<div class="about-wrapper wrapper">
    <div class="row hide-for-medium-up">
        <section class="large-4 columns">
            <h2 class="text-center">Organic Tasty E-juice</h2>
            <div>Arnold ipsum. C-coo-ool. Knock knock. Hasta la vista baby. I'm the party pooper. You're not going to have your mommies right behind you to wipe your little tushies. Now listen to me very carefully. I'm going to ask you a bunch of questions I want to have them answered immediately.</div>
        </section>
    </div>
    <div class="row hide-for-small">
        <section class="large-4 columns">
            <h2 class="text-center">Organic & Tasty</h2>
            <div>As vapor enthusiasts, we know how good quality e-juice should taste like. Rich in depth and without articifical coloring or flavours, all our juices stems from natural sources without harmful additives. Every drop of juice is carefully produced and tested to assure a pleasent vaping experience - just like it should be.</div>
        </section>
        <section class="large-4 columns">
            <h2 class="text-center">Premium e-liquid for connoisseurs</h2>
            <div>E-cigarettes and vaporing is replacing analogue smoking around the world and for good reasons - it's less harmful, more pleasent and increasingly affordable. We believe in quality and convenience throughout the whole experience, from browsing and buying to everyday use.</div>
        </section>
        <section class="large-4 columns">
            <h2 class="text-center">Quality & Safety</h2>
            <div>Your health is precious and is our highest concern. Our suppliers are strictly certified and inspected regularly to ensure only the highest quality products. It's produced in EU and all raw materials are as natural as they get. No chinese factories here, just high-grade e-juice for the quality-minded vaporista.</div>
        </section>
    </div>
</div>

<div class="controls-wrapper wrapper striped">
    <form name="picker">
        <div class="row control-wrapper">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Flavour</h2>
            </div>
            <div class="small-12 large-6 columns">
                <div class="streamer"><h3>Hooray, we just launched! <em><span class="typcn typcn-tags"></span> 20% off</em> for early bird buyers</h3></div>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">All our flavours stems from natural sources (and are damn tasty!) <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row control-wrapper">
            <div class="large-12 small-12 columns">
                <ul class="flavour-list small-block-grid-3 large-block-grid-6 {{ item.flavour&&'child-selected' }}">
                    <li ng-repeat="flavour in store.flavours" ng-click="item.setSelected('flavour', flavour)" class="{{flavour==item.flavour&&'selected'||''}}">
                        <img ng-src="{{ flavour.image }}">
                        <span>{{ flavour.name }}</span>
                    </li>
                </ul>
                <input type="hidden" ng-model="item.flavour.name" required>
            </div>
        </div>
        <div class="row control-wrapper">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Strength</h2>
            </div>
            <div class="small-12 large-6 columns">
                <input ng-model="item.strength" simple-slider drag-type="strengths" required>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">The nicotine level depends on the strength you're used to. <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row control-wrapper">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Base Mix</h2>
            </div>
            <div class="small-12 large-6 columns">
                <input ng-model="item.base" simple-slider drag-type="bases" required>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">PG gives more flavour and throat hit, VG more vapour production. <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row control-wrapper">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Bottle Size</h2>
            </div>
            <div class="small-12 large-6 columns">
                <input ng-model="item.size" simple-slider drag-type="sizes" required>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">In average, most people consume 1ml of liquid per day of vaping. <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="large-4 small-8 small-centered columns">
                <button type='button' class="addtobasket-button button" ng-click="shoppingCart.incrementItem(item, qty, $event)" ng-disabled="picker.$invalid">
                    <span class="ready">Add to Basket</span>
                    <span class="complete"><span class="typcn typcn-tick"></span> Added!</span>
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="large-4 small-8 small-centered columns">
            <div class="text-center" ng-show="picker.$invalid"><i>Please select a flavour above.</i></div>
            <div class="text-center" ng-hide="picker.$invalid"><i>Customize your own juices - you can add as many combinations as you want!</i></div>
        </div>
    </div>

</div>

<div id="checkout-anchor" class="checkout-wrapper wrapper">
    <div class="row">
        <div class="large-12 small-12 small-centered columns">
            <h2 class="text-center">Your Basket</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-10 small-12 small-centered columns">
            <table class="basket-table small-12" ng-hide="shoppingCart.isEmpty()">
                <tbody>
                    <tr ng-repeat="cartItem in shoppingCart.items">
                        <td class="flavour-column">
                            <img ng-src="{{cartItem.flavour.image}}" />
                        </td>
                        <td>{{cartItem.flavour.name}}</td>
                        <td>{{cartItem.strength.name}}</td>
                        <td>{{cartItem.base.name}}</td>
                        <td>{{cartItem.size.name}}</td>
                        <td>{{cartItem.qty}} x</td>
                        <td>€7 EUR</td>
                        <td class="remove">
                            <a href="" ng-click="shoppingCart.removeItem(cartItem)"><span class="typcn typcn-delete"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8"><hr /></td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">Shipping & handling:</td>
                        <td colspan="2">€5 EUR</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">20% Early Bird Discount:</td>
                        <td colspan="2">-€10 EUR</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">Total price:</td>
                        <td colspan="2">€{{ shoppingCart.total() }} EUR</td>
                    </tr>
                </tbody>
            </table>
            <p class="small-12 columns text-center" ng-show="shoppingCart.isEmpty()">
                Your basket is currently empty. Fill something in it above!
            </p>
        </div>
    </div>
    <hr /><br />
    <div class="row">
        <div class="large-4 small-12 columns">
            Orders will be shipped from Denmark within 2-3 business days. Expect delivery within maximum a week.
        </div>
        <div class="large-4 small-12 columns">
            <button class="checkout-button button large" ng-disabled="shoppingCart.isEmpty()" ng-click="checkout()"><span class="typcn typcn-credit-card"></span> Let's buy it!</button>
        </div>
        <div class="large-4 small-12 columns">
            All payments are <span class="typcn typcn-lock-closed-outline"></span>SSL encrypted and PCI-compliant. We care for your rights, read our <a href="/#/terms">Terms & Conditions</a>.
        </div>
    </div>
    <div class="row">
        <div class="large-4 small-8 small-centered columns text-center">
            <small>We accept</small><br />
            <img src="/client/img/paycards/visa.png" class="paycard" alt="We accept Visa" />
            <img src="/client/img/paycards/mastercard.png" class="paycard" alt="We accept Mastercard" />
        </div>

        <div class="large-12 small-12 columns">
            <form id="payment-form" action="#" method="POST">

                <input ng-model="shoppingCart.checkoutParams.amount" class="card-amount-int" type="hidden" value="15" />
                <input ng-model="shoppingCart.checkoutParams.currency" class="card-currency" type="hidden" value="EUR" />

                <div class="form-row"><label>Card number</label>
                <input ng-model="shoppingCart.checkoutParams.cardNr" class="card-number" type="text" size="20" /></div>

                <div class="form-row"><label>CVC</label>
                <input ng-model="shoppingCart.checkoutParams.CVC" class="card-cvc" type="text" size="4" /></div>

                <div class="form-row"><label>Name</label>
                <input ng-model="shoppingCart.checkoutParams.name" class="card-holdername" type="text" size="4" /></div>

                <div class="form-row"><label>Expiry date (MM/YYYY)</label>
                <input ng-model="shoppingCart.checkoutParams.exp_m" class="card-expiry-month" type="text" size="2" />
                <span></span>
                <input ng-model="shoppingCart.checkoutParams.exp_y" class="card-expiry-year" type="text" size="4" /></div>


                <button class="submit-button" type="submit" ng-click="shoppingCart.checkout('paymill', true)">Pay</button>

            </form>
        </div>
    </div>
</div>