<div class="about-wrapper wrapper">
    <div class="row hide-for-medium-up">
        <section class="large-4 columns">
            <h2 class="text-center">Organic Tasty E-juice</h2>
            <div class="text-justify">
                <p>High-grade quality e-liquid for vapor lovers, by vapor lovers.</p>
                <p>We know how good quality e-juice should be like. Rich in depth, taste and without articifical additives. All our juices stems from natural sources, mother earth herself.</p>
                <p>We believe in quality and convenience throughout the whole experience, from browsing and buying to everyday use.</p>
                <p>Our suppliers are strictly certified and inspected regularly to ensure only the highest quality products.</p>
            </div>
        </section>
    </div>
    <div class="row hide-for-small">
        <section class="large-4 columns">
            <h2 class="text-center">Organic & Tasty</h2>
            <div class="text-justify">As vapor enthusiasts, we know how good quality e-juice should be like. Rich in depth, taste and without articifical additives. All our juices stems from natural sources, mother earth herself. Every drop is carefully produced and tested to assure the most pleasent vaping experience - as it should be.</div>
        </section>
        <section class="large-4 columns">
            <h2 class="text-center">Premium e-liquid for connoisseurs</h2>
            <div class="text-justify">E-cigarettes and vaporing is replacing analogue smoking around the world and for good reasons - it's less harmful, more pleasent and increasingly affordable. We believe in quality and convenience throughout the whole experience, from browsing and buying to everyday use.</div>
        </section>
        <section class="large-4 columns">
            <h2 class="text-center">Quality & Safety</h2>
            <div class="text-justify">Your health is precious and our highest concern. Our suppliers are strictly certified and inspected regularly to ensure only the highest quality products. It's produced in EU and all raw materials are as natural as they get. No chinese factories here, just high-grade e-juice for the quality-minded vaporista.</div>
        </section>
    </div>
</div>

<div class="controls-wrapper wrapper striped">
    <form name="picker">
        <div class="row control-wrapper">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Flavour</h2>
            </div>
            <div class="small-12 large-6 columns">
                <div class="streamer">
                    <h3><span class="typcn typcn-info-outline"> Ohoi! <em>We haven't launched just yet!</em> Come back soon.</h3>
                    <h3 class="hide">Hooray, we just launched! <em><span class="typcn typcn-tags"></span> 20% off</em> for early bird buyers</h3>
                </div>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">All our flavours stems from natural sources (and are damn tasty!) <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row control-wrapper">
            <div class="large-12 small-12 columns">
                <ul class="flavour-list small-block-grid-3 large-block-grid-6 {{ item.flavour&&'child-selected' }}">
                    <li ng-repeat="flavour in store.flavours" ng-click="item.clickFlavour('flavour', flavour)" class="{{flavour==item.flavour&&'selected'||''}}">
                        <img ng-src="{{ flavour.image }}">
                        <span>{{ flavour.name }}</span>
                    </li>
                </ul>
                <input type="hidden" ng-model="item.flavour.name" required>
            </div>
        </div>
        <div class="row control-wrapper">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Strength</h2>
            </div>
            <div class="small-12 large-6 columns">
                <input ng-model="item.strength" simple-slider drag-type="strengths" required>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">The nicotine level depends on the strength you're used to. <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row control-wrapper hide">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Base Mix</h2>
            </div>
            <div class="small-12 large-6 columns">
                <input ng-model="item.base" simple-slider drag-type="bases" required>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">PG gives more flavour and throat hit, VG more vapour production. <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row control-wrapper">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Bottle Size</h2>
            </div>
            <div class="small-12 large-6 columns">
                <input ng-model="item.size" simple-slider drag-type="sizes" required>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">In average, most people consume 1ml of liquid per day of vaping. <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="large-4 small-8 small-centered columns">
                <button type='button' class="addtobasket-button button" ng-click="shoppingCart.clickAddToBasket(item,$event)" ng-disabled="picker.$invalid">
                    <span class="ready">Add to Basket</span>
                    <span class="complete"><span class="typcn typcn-tick"></span> Added!</span>
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="large-4 small-8 small-centered columns">
            <div class="text-center" ng-show="picker.$invalid"><i>Please select a flavour above.</i></div>
            <div class="text-center" ng-hide="picker.$invalid"><i>Customize your own juices - you can add as many combinations as you want!</i></div>
        </div>
    </div>

</div>

<div id="checkout-anchor" class="checkout-wrapper wrapper">
    <div class="row">
        <div class="large-6 small-12 columns" ng-hide="shoppingCart.isEmpty()">
            <h2 class="text-center">Your Basket</h2>
            <table class="basket-table">
                <tbody>
                    <tr ng-repeat="cartItem in shoppingCart.items">
                        <td class="flavour-column">
                            <img ng-src="{{cartItem.flavour.image}}" />
                        </td>
                        <td>{{cartItem.flavour.name}}</td>
                        <td>{{cartItem.strength.name}} - {{cartItem.size.name}}</td>
                        <td class="qty-column">{{cartItem.qty}} <small>x</small></td>
                        <td>7 EUR</td>
                        <td class="remove-column">
                            <a href="" ng-click="shoppingCart.incrementItem(cartItem)" class="typcn typcn-arrow-up"></a>
                            <a href="" ng-click="shoppingCart.removeItem(cartItem)"><span class="typcn typcn-delete"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="prices-list large-6 columns" ng-hide="shoppingCart.isEmpty()">
            <div class="row">
                <h2 class="text-center">The Numbers</h2>
                <div class="small-8 columns">Sub total:</div>
                <div class="small-4 columns text-right">{{ shoppingCart.subTotal() }} EUR</div>
                <div class="small-8 columns discount-color">20% Early Bird Discount:</div>
                <div class="small-4 columns text-right discount-color">-{{ shoppingCart.discount() }} EUR</div>
                <div class="small-8 columns">Shipping & handling:</div>
                <div class="small-4 columns text-right">+{{ shoppingCart.shipping() }} EUR</div>
                <div class="small-8 columns total"><strong>Total price:</strong></div>
                <div class="small-4  columns text-right total"><strong>{{ shoppingCart.total() }} EUR</strong></div>
            </div>
        </div>
        <div class="small-12 columns" ng-show="shoppingCart.isEmpty()">
            <h2 class="text-center">Your Basket</h2>
            <p class="text-center">Your basket is currently empty. Fill something in it above!</p>
        </div>
    </div>
    <hr /><br />
    <div class="row">
        <div class="small-12 large-6 columns">
            <div class="customer-form-wrapper">
            <form class="customer-form" id="info-form" action="#" method="POST" name="info">

                <div class="form-row small-12 columns">
                    <h2 class="text-center">Shipping information</h2>
                </div>

                <div class="form-row row">
                    <label class="small-12 columns">E-mail</label>
                    <div class="small-12 columns">
                        <input class="customer-email inline" name="email" type="email" ng-model="shoppingCart.custommerInfo.email" type="text" size="50" required email-validation/>
                    </div>
                </div>

                <div class="form-row row" ng-show="info.email.$dirty && info.email.$invalid">
                    <div class="small-12 columns error">
                        <span ng-show="info.email.$error.required">Please enter your email.</span>
                        <span ng-show="info.email.$error.email">This is not a valid email.</span>
                        <span ng-show="info.email.$error.checkingEmail">Checking email...</span>
                        <span ng-show="info.email.$error.emailAvailable">Email not available</span>
                    </div>
                </div>

                <div class="form-row row" ng-show="userFound">
                    <div class="small-12 columns">
                        <span ng-show="userFound"><button class="button small" ng-click="loginUser(info.email)">Login</button> to use the same address as last time you ordered</span>
                    </div>
                </div>

                <div class="form-row row">
                    <label class="small-12 columns">Full name</label>
                    <div class="small-12 columns">
                        <input class="customer-fullname" ng-model="shoppingCart.custommerInfo.fullName" type="text" size="50" required />
                    </div>
                </div>

                <div class="form-row row">
                    <label class="small-12 columns">Address</label>
                    <div class="small-12 columns">
                        <input class="customer-address" ng-model="shoppingCart.custommerInfo.streetName" type="text" placeholder="Street name and number" size="50" required />
                    </div>
                    <div class="small-3 columns inline-left">
                        <input class="customer-address" ng-model="shoppingCart.custommerInfo.zipCode" type="text" placeholder="Zip code" size="10" required />
                    </div>
                    <div class="small-5 columns inline-center">
                        <input class="customer-address" ng-model="shoppingCart.custommerInfo.city" type="text" placeholder="City" size="35" required />
                    </div>
                    <div class="small-4 columns inline-right">
                        <input class="customer-address" ng-model="shoppingCart.custommerInfo.country" type="text" placeholder="Country" size="50" />
                    </div>
                </div>

                <div class="form-row row">
                    <label class="small-12 columns">Phone (optional)</label>
                    <div class="small-12 columns">
                        <input class="customer-phone" ng-model="shoppingCart.custommerInfo.phone" type="text" size="22" />
                    </div>
                </div>

                <div class="form-row row">
                    <label class="small-12 columns">Leave us a comment</label>
                    <div class="small-12 columns">
                        <input class="comment" ng-model="shoppingCart.custommerInfo.comment" type="text" placeholder="" size="50" />
                    </div>
                </div>

            </form>
            </div>
        </div>
        <div class="small-12 large-6 columns">
            <div class="payment-form-wrapper">
            <form class="payment-form" id="payment-form" ng-submit="shoppingCart.checkout()">

                <div class="secure-icon">
                    <small>SECURE PAYMENT</small>
                    <span class="typcn typcn-lock-closed"></span>
                </div>

                <input ng-model="shoppingCart.checkoutParams.amount_int" class="card-amount-int" type="hidden" value="15" />
                <input ng-model="shoppingCart.checkoutParams.currency" class="card-currency" type="hidden" value="EUR" />

                <div id="card-indication" class="form-row small-12 columns card-{{currentCard}}">
                    <label>Card number</label>
                    <input id="cardnumber" ng-model="shoppingCart.checkoutParams.number" class="card-number" type="text" size="20" maxlength="20" credit-card-validation />
                    <div class="current-card-indicator" ng-switch on="currentCard">
                        <img src="/client/img/paycards/visa.png" ng-switch-when="visa" class="paycard" alt="We accept Visa" />
                        <img src="/client/img/paycards/mastercard.png" ng-switch-when="mastercard" class="paycard" alt="We accept Mastercard" />
                    </div>
                </div>

                <div class="form-row small-12 columns">
                    <div class="form-expiry-row">
                        <label>Expiry date</label>
                        <input ng-model="shoppingCart.checkoutParams.exp_month" class="card-expiry-month" placeholder="MM" type="text" size="2" maxlength="2" />
                        <input ng-model="shoppingCart.checkoutParams.exp_year" class="card-expiry-year" placeholder="YYYY" type="text" size="4" maxlength="4" />
                    </div>

                    <div class="form-cvc-row">
                        <label>CVC</label>
                        <input ng-model="shoppingCart.checkoutParams.cvc" class="card-cvc" placeholder="XXX" type="text" size="3" maxlength="3" />
                    </div>
                </div>

                <div class="form-row small-12 columns">
                    <label>Cardholders name</label>
                    <input ng-model="shoppingCart.checkoutParams.cardholder" class="card-holdername" type="text" size="4" />
                </div>

                <div class="form-row small-12 columns">
                    <div class="payment-errors"></div>
                </div>

                <div class="small-12 columns text-center">
                    <label><input type="checkbox" checked="checked" class="terms-checkbox custom checkbox" /> Yes, I agree to the <a href="/#/terms" target="_blank">Terms & Conditions</a></label>
                    <button type="submit" class="checkout-button button large" ng-disabled="shoppingCart.isEmpty()||info.$invalid">Pay €{{shoppingCart.total()}} EUR!</button>
                </div>

            </form>
            </div>
        </div>
    </div>
    <br /><hr /><br />
    <div class="row">
        <div class="large-4 small-12 columns">
            Orders will be shipped from Denmark within 2-3 business days. Expect delivery within maximum a week.
        </div>
        <div class="large-4 small-12 columns text-center">
            <small>We accept</small><br />
            <img src="/client/img/paycards/visa.png" class="weaccept-paycard" alt="We accept Visa" />
            <img src="/client/img/paycards/mastercard.png" class="weaccept-paycard" alt="We accept Mastercard" />
        </div>
        <div class="large-4 small-12 columns">
            Payments are <span class="typcn typcn-lock-closed-outline"></span>SSL encrypted and PCI-compliant. No payment card information is saved - don't worry, be happy.
        </div>
    </div>
</div>