<div class="about-wrapper wrapper">
    <div class="row hide-for-medium-up">
        <section class="large-4 columns">
            <h2 class="text-center">Organic Tasty E-juice</h2>
            <div class="text-justify">
                <p>High-grade quality e-liquid for vapor lovers, by vapor lovers.</p>
                <p>We know how good quality e-juice should be like. Rich in depth, taste and without articifical additives. All our juices stems from natural sources, mother earth herself.</p>
                <p>We believe in quality and convenience throughout the whole experience, from browsing and buying to everyday use.</p>
                <p>Our suppliers are strictly certified and inspected regularly to ensure only the highest quality products.</p>
            </div>
        </section>
    </div>
    <div class="row hide-for-small">
        <section class="large-4 columns">
            <h2 class="text-center">Organic & Tasty</h2>
            <div class="text-justify">As vapor enthusiasts, we know how good quality e-juice should be like. Rich in depth, taste and without articifical additives. All our juices stems from natural sources, mother earth herself. Every drop is carefully produced and tested to assure the most pleasent vaping experience - as it should be.</div>
        </section>
        <section class="large-4 columns">
            <h2 class="text-center">Premium e-liquid for connoisseurs</h2>
            <div class="text-justify">E-cigarettes and vaporing is replacing analogue smoking around the world and for good reasons - it's less harmful, more pleasent and increasingly affordable. We believe in quality and convenience throughout the whole experience, from browsing and buying to everyday use.</div>
        </section>
        <section class="large-4 columns">
            <h2 class="text-center">Quality & Safety</h2>
            <div class="text-justify">Your health is precious and our highest concern. Our suppliers are strictly certified and inspected regularly to ensure only the highest quality products. It's produced in EU and all raw materials are as natural as they get. No chinese factories here, just high-grade e-juice for the quality-minded vaporista.</div>
        </section>
    </div>
</div>

<div class="controls-wrapper wrapper striped">
    <form name="picker">
        <div class="row control-wrapper">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Flavour</h2>
            </div>
            <div class="small-12 large-6 columns">
                <div class="streamer">
                    <h3><span class="typcn typcn-info-outline"> Ohoi! <em>We haven't launched just yet!</em> Come back soon.</h3>
                    <h3 class="hide">Hooray, we just launched! <em><span class="typcn typcn-tags"></span> 20% off</em> for early bird buyers</h3>
                </div>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">All our flavours stems from natural sources (and are damn tasty!) <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row control-wrapper">
            <div class="large-12 small-12 columns">
                <ul class="flavour-list small-block-grid-3 large-block-grid-6 {{ item.flavour&&'child-selected' }}">
                    <li ng-repeat="flavour in store.flavours" ng-click="item.clickFlavour('flavour', flavour)" class="{{flavour==item.flavour&&'selected'||''}}">
                        <img ng-src="{{ flavour.image }}">
                        <span>{{ flavour.name }}</span>
                    </li>
                </ul>
                <input type="hidden" ng-model="item.flavour.name" required>
            </div>
        </div>
        <div class="row control-wrapper">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Strength</h2>
            </div>
            <div class="small-12 large-6 columns">
                <input ng-model="item.strength" simple-slider drag-type="strengths" required>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">The nicotine level depends on the strength you're used to. <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row control-wrapper hide">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Base Mix</h2>
            </div>
            <div class="small-12 large-6 columns">
                <input ng-model="item.base" simple-slider drag-type="bases" required>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">PG gives more flavour and throat hit, VG more vapour production. <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row control-wrapper">
            <div class="small-12 large-3 columns">
                <span class="choose">choose</span>
                <h2>Bottle Size</h2>
            </div>
            <div class="small-12 large-6 columns">
                <input ng-model="item.size" simple-slider drag-type="sizes" required>
            </div>
            <div class="small-12 large-3 columns hide-for-small">
                <div class="control-description">In average, most people consume 1ml of liquid per day of vaping. <span class="typcn typcn-plus"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="large-4 small-8 small-centered columns">
                <button type='button' class="addtobasket-button button" ng-click="shoppingCart.incrementItem(item, qty, $event)" ng-disabled="picker.$invalid">
                    <span class="ready">Add to Basket</span>
                    <span class="complete"><span class="typcn typcn-tick"></span> Added!</span>
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="large-4 small-8 small-centered columns">
            <div class="text-center" ng-show="picker.$invalid"><i>Please select a flavour above.</i></div>
            <div class="text-center" ng-hide="picker.$invalid"><i>Customize your own juices - you can add as many combinations as you want!</i></div>
        </div>
    </div>

</div>

<div id="checkout-anchor" class="checkout-wrapper wrapper">
    <div class="row">
        <div class="large-12 small-12 small-centered columns">
            <h2 class="text-center">Your Basket</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-8 small-12 small-centered columns" ng-hide="shoppingCart.isEmpty()">
            <table class="basket-table small-12">
                <tbody>
                    <tr ng-repeat="cartItem in shoppingCart.items">
                        <td class="flavour-column">
                            <img ng-src="{{cartItem.flavour.image}}" />
                        </td>
                        <td>{{cartItem.flavour.name}}</td>
                        <td>{{cartItem.strength.name}}</td>
                        <td><span class="typcn typcn-{{cartItem.size.icon}} typcn-rotate"></span> {{cartItem.size.name}}</td>
                        <td>{{cartItem.base.name}}</td>
                        <td>{{cartItem.qty}} x</td>
                        <td>7 EUR</td>
                        <td class="remove">
                            <a href="" ng-click="shoppingCart.removeItem(cartItem)"><span class="typcn typcn-delete"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="small-12 columns text-center" ng-show="shoppingCart.isEmpty()">
            Your basket is currently empty. Fill something in it above!
        </p>
    </div>
    <hr />
    <div class="row">
        <div class="small-6 columns text-right"><strong>Sub total:</strong></div>
        <div class="small-6 columns text-left">{{ shoppingCart.subTotal() }} EUR</div>
        <div class="small-6 columns text-right discount-color"><strong>20% Early Bird Discount:</strong></div>
        <div class="small-6 columns text-left discount-color">-{{ shoppingCart.discount() }} EUR</div>
        <div class="small-6 columns text-right"><strong>Shipping & handling:</strong></div>
        <div class="small-6 columns text-left">+{{ shoppingCart.shipping() }} EUR</div>
        <div class="small-6 columns text-right"><strong>Total price:</strong></div>
        <div class="small-6 columns text-left">{{ shoppingCart.total() }} EUR</div>
    </div>
    <hr /><br />
    <div class="row">
        <div class="small-12 large-6 columns">
            <div class="customer-form-wrapper">
            <form class="customer-form row" id="customer-form" action="#" method="POST">

                <div class="form-row small-12 columns">
                    <h2 class="">Tell us about yourself</h2>
                </div>

                <div class="form-row small-12 columns">
                    <label>Full name</label>
                    <input class="customer-fullname" type="text" size="50" />
                </div>

                <div class="form-row small-12 columns">
                    <label>Address</label>
                    <input class="customer-address" type="text" placeholder="Street name and number" size="50" />
                    <input class="customer-address inline" type="text" placeholder="Zip code" size="10" />
                    <input class="customer-address inline" type="text" placeholder="City" size="35" />
                    <input class="customer-address" type="text" placeholder="Country" size="50" />
                </div>

                <div class="form-row small-12 columns">
                    <label>Contact</label>
                    <input class="customer-phone inline" type="text" placeholder="Phone" size="22" />
                    <input class="customer-email inline" type="text" placeholder="E-mail" size="23" />
                </div>

                <div class="form-row small-12 columns">
                    <label>Leave us a comment</label>
                    <input class="customer-phone" type="text" placeholder="" size="50" />
                </div>

            </form>
            </div>
        </div>
        <div class="small-12 large-6 columns">
            <div class="payment-form-wrapper">
            <form class="payment-form" id="payment-form" action="#" method="POST">

                <div class="secure-icon">
                    <small>SECURE PAYMENT</small>
                    <span class="typcn typcn-lock-closed"></span>
                </div>

                <input ng-model="shoppingCart.checkoutParams.amount" class="card-amount-int" type="hidden" value="15" />
                <input ng-model="shoppingCart.checkoutParams.currency" class="card-currency" type="hidden" value="EUR" />

                <div id="card-indication" class="form-row small-12 columns card-{{currentCard}}">
                    <label>Card number</label>
                    <input id="cardnumber" ng-model="shoppingCart.checkoutParams.cardNr" class="card-number" type="text" size="20" />
                    <div class="current-card-indicator" ng-switch on="currentCard">
                        <img src="/client/img/paycards/visa.png" ng-switch-when="visa" class="paycard" alt="We accept Visa" />
                        <img src="/client/img/paycards/mastercard.png" ng-switch-when="mastercard" class="paycard" alt="We accept Mastercard" />
                    </div>
                </div>

                <div class="form-row small-12 columns">
                    <div class="form-expiry-row">
                        <label>Expiry date</label>
                        <input ng-model="shoppingCart.checkoutParams.exp_m" class="card-expiry-month" placeholder="MM" type="text" size="2" />
                        <input ng-model="shoppingCart.checkoutParams.exp_y" class="card-expiry-year" placeholder="YYYY" type="text" size="4" />
                    </div>

                    <div class="form-cvc-row">
                        <label>CVC</label>
                        <input ng-model="shoppingCart.checkoutParams.CVC" class="card-cvc" placeholder="XXX" type="text" size="3" />
                    </div>
                </div>

                <div class="form-row small-12 columns">
                    <label>Cardholders name</label>
                    <input ng-model="shoppingCart.checkoutParams.name" class="card-holdername" type="text" size="4" />
                </div>

                <div class="small-12 columns text-center">
                    <label><input type="checkbox" checked="checked" class="terms-checkbox custom checkbox" /> Yes, I agree to the <a href="/#/terms" target="_blank">Terms & Conditions</a></label>
                    <button type="submit" class="checkout-button button large" ng-disabled="shoppingCart.isEmpty()" ng-click="shoppingCart.checkout('paymill', true)">Pay €{{shoppingCart.total()}} EUR!</button>
                </div>

            </form>
            </div>
        </div>
    </div>
    <hr /><br />
    <div class="row">
        <div class="large-4 small-12 columns">
            Orders will be shipped from Denmark within 2-3 business days. Expect delivery within maximum a week.
        </div>
        <div class="large-4 small-12 columns text-center">
            <small>We accept</small><br />
            <img src="/client/img/paycards/visa.png" class="weaccept-paycard" alt="We accept Visa" />
            <img src="/client/img/paycards/mastercard.png" class="weaccept-paycard" alt="We accept Mastercard" />
        </div>
        <div class="large-4 small-12 columns">
            Payments are <span class="typcn typcn-lock-closed-outline"></span>SSL encrypted and PCI-compliant. No payment card information is saved - don't worry, be happy.
        </div>
    </div>
</div>