// Variables, helpers and mixins
$small-down: "only screen and (max-width:"#{emCalc(768px)}")";

// Structure and layout
html, body, * {
    line-height: 1.5em;
}

.container {
    padding-top: 6.7em;
}

.wrapper {
    //margin: 30px 0;
    padding: 3em 0;
}

.striped {
    background-color: $secondary-color;
}

.striped-dark {
    background-color: $complementary-color;
}

// Elements
h2 {
    margin-top: 0;
    margin-bottom: 1.3em;
    text-transform: uppercase;
}

.button {
    @include border-radius(3px);
    box-shadow: none;

    &.disabled,
    &[disabled],
    &.disabled:hover,
    &[disabled]:hover, {
        background-color: $secondary-alt-color;
    }
}

// Header
.header-wrapper {
    background-color: $primary-color;
    padding: 2em 0;
}

    h1 {
        @include transition(opacity 0.3s);
        color: white;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1;
        white-space: nowrap;

        &:hover {
            opacity: 0.7;
        }
    }

    .about-link .typcn,
    .cart-link .typcn {
        @include transition(opacity 0.3s);
        color: white;
        font-size: 2.1em;
        margin-top: -0.05em;

        &:hover {
            opacity: 0.7;
        }
    }
    .cart-link div {
        float: right;
    }
        .cart-count {
            position: absolute;
            right: 2.4em;
            top: 0;
            font-size: 0.5em;
            background-color: $complementary-color;
            border-radius: 15px;
            color: white;
            min-width: 15px;
            height: 15px;
            line-height: 0.7em;
            padding: 5px;

        }

    .row h1.columns {
        padding: 0;
    }

        .header-wrapper .logo {
            @include border-radius(0.8em 0 0.8em 0.8em);
            @include rotate(-45deg);
            display: inline-block;
            width: 0.75em;
            height: 0.75em;
            border: 0.12em solid white;
            margin: 0 0.05em -0.05em 0.05em;
            //background-color: white;
            //box-shadow: 0 0 0 0.15em $primary-color inset;
        }

// Footer
.footer-wrapper {
    color: white;

    a {
        color: white;
        text-decoration: underline;
    }
}

    .footer-wrapper .logo {
            font-size: 5em;
            @include border-radius(0.8em 0 0.8em 0.8em);
            @include rotate(-45deg);
            display: inline-block;
            width: 0.75em;
            height: 0.75em;
            border: 0.12em solid $complementary-alt-color;
            margin: 0 0 0.2em 0;
        }