.error{
    color:#e23b30;
}

.about-wrapper {
    h2 {
        color: $complementary-color;
    }
}

.controls-wrapper {

    form {
        margin-bottom: 0;
    }

    .control-wrapper {
        margin-bottom: 1em;
    }

    .choose {
        text-transform: uppercase;
        display: block;
        line-height: 1;
        font-size: 0.8em;
        line-height: 1.5em;
        color: $primary-alt-color;
    }

    h2 {
        margin-bottom: 0.5em;
        color: $primary-alt-color;
        line-height: 1em;
    }

    .control-description {
        font-size: 0.8em;
        text-align: right;
    }

    .streamer {
        background-color: $complementary-color;
        padding: 0.5em;
        @include border-radius($global-radius);
        text-align: center;

        h3 {
            color: lighten($complementary-color, 40%);
            margin: 0;
            font-size: 1em;

            em {
                color: white;
                font-style: normal;
            }
        }
    }

    .flavour-list {
        margin-bottom: 0.5em;

        li {
            cursor: pointer;
        }

        span {
            display: block;
            text-align: center;
        }

        &.child-selected {
            li {
                @include transition(opacity 300ms);

                span {
                    color: $primary-alt-color
                }
            }
            li:not(.selected) {
                opacity: 0.5;
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
                filter: gray; /* IE6-9 */
                -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
            }
            li.selected {
                opacity: 1;
            }
        }
    }

    .slider{
        margin-left:0px!important;
    }

    .slider-labels {
        li {
            text-align: center;

            a {
                color: darken($secondary-alt-color,10%);
            }

            &.selected a {
                color: $primary-alt-color;
            }
        }
        li:first-child {
            text-align: left;
        }
        li:last-child {
            text-align: right;
        }
    }

    // Slider controls
    .slider .track {
        position: relative;
        height: 10px;
        background: white;
        padding: 0 10px;
        margin-top: 10px;
        border-bottom: 1px solid darken($secondary-color, 10%);
    }
    .slider .dragger {
        position: absolute;
        cursor: pointer;
        @include border-radius(20px);
        width: 20px;
        height: 20px;
        margin-top: -5px;
        background: $primary-color;
        color: white;
        line-height: 20px;
        text-align: center;
        @include transition(left 0.3s);

        &:hover {
            background: $primary-alt-color;
        }
    }

    .addtobasket-button {
        margin-top: 0;
        width: 100%;

        .complete {
            display: none;
        }

        &.item-added-state {
            .complete {
                display: inline;
            }
            .ready {
                display: none;
            }
        }
    }
}

@media #{$small-down} {
    .controls-wrapper .choose,
    .controls-wrapper h2 {
        text-align: center;
    }
    .controls-wrapper .control-description {
        text-align: center;
    }
}

.checkout-wrapper {

    .basket-table {
        width: 100%;

        td {
            padding: 0;
            height: 2.5em;
        }

        .flavour-column {

            img {
                width:100%;
                max-width:2.5em;
                //float: left;
                //width: 6em;
            }
            div {
                //line-height: 4.5em;
            }
        }

        .remove-column {
            text-align: right;

            a {
                font-size: 1.2em;
                color: $complementary-color;
            }
        }
    }

    .prices-list .columns {
        //height: 1.5em;
        //padding: 0.4em 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        &.total {
            //margin-top: 2.5em;
        }

        &.discount-color {
            color: orange;
        }
    }
}

.customer-form-wrapper {

    .inline-right {
        padding-left: 0.2em;
    }
    .inline-left {
        padding-right: 0.2em;
    }
}

.payment-form-wrapper {
    @include border-radius($global-radius);
    padding: 1em;
    background-size: 30px 30px;
    background-image: linear-gradient(
        45deg,
        $primary-color 25%,
        lighten($primary-color, 10%) 25%,
        lighten($primary-color, 10%) 50%,
        $primary-color 50%,
        $primary-color 75%,
        lighten($primary-color, 10%) 75%,
        lighten($primary-color, 10%)
    );
    background-attachment:fixed;

    .payment-form {
        position: relative;
        padding: 3em 1.5em;
        background-color: white;
        background-image: none;
        margin-bottom: 0;
        overflow: hidden;

        .secure-icon {
            position: absolute;
            right: 3px;
            top: 0px;
            color: $primary-color;

            .typcn{
                font-size: 2em;
            }
        }

        input {
            width: auto;
        }

        .card-number {
            @include transition(width 0.3s);
            float: left;
            width: 18.5em;
        }

        .current-card-indicator {
            @include transition(width 0.3s);
            float: right;
            overflow: hidden;
            width: 3.7em;
        }

           .paycard {
                @include border-radius(0);
                width: 3.7em;
                border: 1px solid $secondary-alt-color;
                display: block;
            }

        .card-unknown {
            .card-number {
                width: 100%;
            }

            .current-card-indicator {
                width: 0;
            }
        }

        .card-expiry-month,
        .card-expiry-year {
            float: left;
            margin-right: 0.5em;
        }
        .form-expiry-row {
            float: left;
        }
        .form-cvc-row {
            float: right;
        }

        .card-cvc {
            width: 4.2em;
        }

        .card-holdername {
            width: 100%;
        }
    }
}

    .checkout-button {
        @include button-style($complementary-color);
        width: 100%;
        margin: 0.5em 0 0 0;
    }

    .weaccept-paycard {
        @include border-radius($global-radius);
        width: 3em;
        border: 1px solid $secondary-alt-color;
    }
